:root {
    --barn-red: #780000ff;
    --fire-brick: #c1121fff;
    --papaya-whip: #fdf0d5ff;
    --prussian-blue: #003049ff;
    --air-superiority-blue: #669bbcff;
}

body {

    background-color: var(--barn-red);
    text-align: center;
    color: #fdf0d5ff;

}

.outerBox {
    background-color: var(--fire-brick);
    padding: 5px;
    margin: 5px;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    border: var(--barn-red) double 5px;
}

.innerbox {
    background-color: var(--prussian-blue);
    padding: 25px;
    margin: 25px;
    border: var(--papaya-whip) double 10px;
    color: #fdf0d5ff;
}

#content {
    margin: 5px;
}